# ignore list

/brandlogo/
/deltabest/
/dist/
!/dist/run.exe
/dist/TinyPedal/
/settings/
/trackmap/

# build and run output
/build/
/run/

__pycache__/

# pipenv stuff
Pipfile
Pipfile.lock

# pylint stuff
pylintrc

# local config file
*.json
*.csv
*.fuel

# random file
test*.py
_test*.py
*.7z
*.zip
*.log
*.db

# Copilot snapshots
.copilot/

# Visual Studio
.vs/